mkdocs-material
mkdocstrings-python
ruff
pymdown-extensions
markdown-exec
mkdocs-jupyter
mkdocs-include-markdown-plugin
mkdocs-pdf
# requirements for interactive figures
plotly-express
pandas
jetfuelburn
ipyleaflet